.notfoundImg {
  width: 300px;
}
.notFoundContainer {
  background-color: #000000;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}
