.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #202020;
  align-items: center;
  padding: 10px;
}
.listItems {
  list-style: none;
  font-weight: 700;
  color: #fff;
  margin-right: 20px;
  text-decoration: none;
}
.headerlist {
  display: flex;
}

.logout {
  background-color: #6366f1;
  color: #fff;
  padding: 10px 15px;
  border: 0;
  border-radius: 10px;
}
.logo {
  width: 100px;
}
